@{
    ViewBag.Title = "Sobre a BooksBox";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    A Biblioteca BooksBox, tem como objetivo atender toda a comunidade acadêmica, bem como a comunidade externa
    em suas necessidades bibliográficas e informacionais. Ela oferece suporte Adicionar Seus autores favoritos, 
    criar listas de livros que podem associadoas com autores e acesso à informação.
</p>

<p>
        Dispõe de um acervo em contínuo crescimento. Atualmente, possui X títulos de livros com Y exemplares. 
    A Biblioteca BooksBox possui serviço de Empréstimo Entre Bibliotecas.
</p>
