@{
    ViewBag.Title = "Alex S. Santos";
}
<h2>@ViewBag.Title.</h2>

<b>GitHub:</b> <a href="https://github.com/alexssantos/">Alexssantos</a><br />
<b>LInkedIn:</b> <a href="https://www.linkedin.com/in/alexssantos/">Alexssantos</a> <br />
<hr />
<address>

    Rio de Janeiro, RJ - Penha Circular<br />
    <abbr title="Phone"> (21) 99959-0340</abbr><br />
    <abbr title="Email"> arkanjo.alex@gmail.com </abbr><br />
    <abbr title="Email"> alex.silva@al.INFNET.edu.br</abbr><br />

</address>

